.micro{
    width: 130px;
    height: 30px;
}

.icon{
    display: flex;
    width: 30px;
    height: 30px;
}

a{
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.right-sections{
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center; 
}

.nav-link{   
    padding-right: 20px;
    padding-left: 20px;
}

a:hover{
    text-decoration: underline;
}

.parte1{
    display: inline-block;
    margin-top: 100px;
    padding-left: 80px;
}

.ayuda {
    margin-left: 680px;
}

.ayuda p{
    text-decoration: underline;
}

.vaso{
    width: 75px;
    height: 75px;
}

.pepito {
    width: 25px;
    height: 25px;
    padding-bottom: 15px;
}

.img1 {
    width: 200px;
    margin: 20px;
    padding: 100px; 
    display: inline-block;
    }

.img1 img{
    vertical-align: middle;
    padding-block-end: 1000px;
    padding: 10px;
}

.im1{
    align-items: center;
    margin: 20px;
    padding-left: 150px;
}

.pipo {
    margin-top: 40px;
    padding-left: 170px;
    font-size: 38px;
}

.blabla {
    margin-top: -150px;
    padding-left: 35px;
}

.lol{
   margin-bottom: 63px;
}

.lol2{
    margin-bottom: -13px;
}

.lol3{
    margin-bottom: 18px;
}

.lol4{
    margin-bottom: 70px;
}

.lol5{
    margin-bottom: 20px;
}

.oiepe h2{
    position: relative;
  bottom: 80px;
  left: 10px;
  
}
.oiepe p{
    position: relative;
  bottom: 90px;
  left: 10px;
}

.bastayaporfavor p{ 
    position: relative;
    left: 10px;
}

.bastayaporfavor h2{
    position: relative;
    left: 10px;
}

.pipipi p{
    position: relative;
    left: 10px;
    bottom: 30px;
}

.pipipi h2{
    position: relative;
    bottom: 30px;
    left: 10px;
}

.poker p{
    position: relative;
    bottom: 70px;
    left: 10px;
}

.poker h2{
    position: relative;
    bottom: 70px;
    left: 10px;
}